## Q6.

In [1]:
import pandas as pd
new_dict = {"Name":pd.Series(['jiraiya','kakashi','itachi','sasuke'] , index=['1','2','3','4']) , "Abilities":pd.Series(['Sage Mode','Kamui','Amaterasu','Kirin'],index=['1','2','3','4'])}
pd.DataFrame(new_dict)

      Name  Abilities
1  jiraiya  Sage Mode
2  kakashi      Kamui
3   itachi  Amaterasu
4   sasuke      Kirin

## Q7.

In [6]:
import os
os.chdir(r"C:\Users\unique\lets upgrade AI-ML\Packages and Statistics\Materials")
df = pd.read_csv("movies.csv")
df[['title','genres']]

,title,genres
0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,Jumanji (1995),Adventure|Children|Fantasy
2,Grumpier Old Men (1995),Comedy|Romance
3,Waiting to Exhale (1995),Comedy|Drama|Romance
4,Father of the Bride Part II (1995),Comedy
...,...,...
9737,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,Flint (2017),Drama
9740,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,Andrew Dice Clay: Dice Rules (1991),Comedy

## Q8.

In [12]:
df = pd.read_csv('movies.csv')
df1 = pd.read_csv('links.csv')
#joining the dataframes through rows
result_data = pd.concat([df,df1] , axis = 0)
result_data

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,NaN
1,2,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN
...,...,...,...,...,...
9737,193581,NaN,NaN,5476944.0,432131.0
9738,193583,NaN,NaN,5914996.0,445030.0
9739,193585,NaN,NaN,6397426.0,479308.0
9740,193587,NaN,NaN,8391976.0,483455.0
9741,193609,NaN,NaN,101726.0,37891.0

## Q9.

In [6]:
df.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

## Q10.

In [13]:
ds = pd.Series(['Ronaldo','Messi','Neymar','Lewandoski'])
ds

0       Ronaldo
1         Messi
2        Neymar
3    Lewandoski
dtype: object