## Q1.

In [5]:
s = input()
l = ""
a = s.find('@')
b = s.find('.',a+1)
for i in range(a+1,b):
    l += s[i]
print(l)

john@google.com
google

## Q2.

In [3]:
a = input()
l = [i for i in a.split(',')]
print(",".join(sorted(l)))

without,hello,bag,world
bag,hello,without,world

## Q3.

In [22]:
new_set = {"apple" , "banana" , "cherry"}
print(new_set)

print("apple" in new_set)

new_set.add("mango")
print(new_set)

new_set.update(["orange" , "strawberry" , "guava"])
print(new_set)

print(len(new_set))

new_set.remove("guava")
print(new_set)

new_set.clear()
print(new_set)

del new_set #deletes the set completely

set1 = {1,2,3}
set2 = {4,5,6}
b = set1.union(set2)
print(b)

a = [1,2,2,3,4,4,5]
print(set(a))

{'cherry', 'apple', 'banana'}
True
{'cherry', 'apple', 'banana', 'mango'}
{'orange', 'strawberry', 'mango', 'guava', 'cherry', 'apple', 'banana'}
7
{'orange', 'strawberry', 'mango', 'cherry', 'apple', 'banana'}
set()
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

## Q4.

In [1]:
def find_missing_number(a,n):
    total = (n+1)*(n+2)//2
    current_total = sum(a)
    return total - current_total

a = list(map(int , input().split()))
print(find_missing_number(a,len(a)))

1 2 3 4 6
5

## Q5.

In [53]:
a = list(map(int , input().split()))
b = []
for i in a:
    if i not in b:
        b.append(i)
print(*b)

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155