In [4]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"C:\Users\ultra_instinct\lets upgrade AI-ML\optimization techniques\Materials\User_Data - Arindam Dev.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
df.shape

(400, 5)

In [22]:
x=df.iloc[:,:4].drop('Gender',axis=1)
y=df.iloc[:,4:5].values

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [24]:
from sklearn import svm
clf=svm.SVC(kernel='linear')
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

C:\Users\ultra_instinct\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [26]:
from sklearn.metrics import accuracy_score
print("Accuracy : ",accuracy_score(y_test,y_pred)*100)

Accuracy :  73.0